<h2 class="h3 mb-3 fw-normal">Create Account</h2>


    <div class="d-flex justify-content-center">
    <%= form_for @user do |f| %>
        <div class="form-floating">
            <%= f.email_field :email, :class => 'form-control', :id => 'floatingInput', :placeholder => 'name@example.com' %>
            <%= f.label :email, :for => 'floatingInput' %>
        </div>
        <div class="form-floating">
            <%= f.text_field :name, :class => 'form-control', :id => 'floatingInput', :placeholder => 'name' %>
            <%= f.label :name, :for => 'floatingInput' %>
        </div>
        <div class="form-floating">
            <%= f.password_field :password, :class => 'form-control', :id => 'floatingInput', :placeholder => 'password' %>
            <%= f.label :password, :for => 'floatingInput' %>
        </div>
        <div class="form-floating">
            <%= f.password_field :password_confirmation, :class => 'form-control', :id => 'floatingInput', :placeholder => 'password' %>
            <%= f.label :password_confirmation, :for => 'floatingInput' %>
        </div>
        <br>
        <%= f.submit "Sign Up", :class => 'w-100 btn btn-lg btn-primary' %>
    <% end %>
    </div>

</div>