<div class="intro">
    <p>
        Lets be honest, you're no Mary Shelly - but at least you can be Dr. Frankenstein!
    </p>
    <br>
    <p>
        Go to your library to start generating novels. The process is automatic, and before long you'll have your very own (literary) monsters made up of a mish-mosh of user-submitted excerpts.
    </p>
    <br>
    <p>
        Oh, and write some of your own excerpts too. It might find its way into someones elses auto-novel - And if it does, you'll be credited!
    </p>
</div>
<br>
<h2>Top 100 Novels</h2>
<br>
<br>
<div class="col-2 top-hundred">
    <% @novels.each do |novel| %>
        <div>
            <% if novel.cover.present? %>
                <%= link_to novel do %>
                    <%= cl_image_tag(novel.cover, :class => "card-img-top") %>
                <% end%>
            <% else %>
                <%= link_to novel do %>
                    <img class="card-img-top" src="http://www.fillmurray.com/200/300" alt="A picture of the novels cover.">
                <% end%>
            <% end %>
            <div class="<%= @fonts.sample %>">
                <% if novel.title.present? %>
                    <h5><%= link_to novel.title, novel %></h5>
                <% else %>
                    <h5 style="font-family: 'Roboto Mono', monospace"><%= link_to 'untitled novel', novel %></h5>
                <% end %>
                <% if novel.blurb.present? %>
                    <p><%= novel.blurb %></p>
                <% else %>
                    <p style="font-family: 'Roboto Mono', monospace">This novel doesn't have a blurb yet.</p>
                <% end %>
            </div>
            <span>upvotes: </span>
            <%= novel.pseudousers.count %>
            <% if @current_user.present? %>
                <%= form_for @current_user.pseudouser do |f| %>
                    <%= f.hidden_field :user_id, :value => novel.id %>
                    <%= button_tag :submit, :class => 'upvote' do %>
                        <img style="width:1em;<% if novel.pseudousers.exists?(id: @current_user.pseudouser.id) %>transform:scaleY(-1)<% end %>" src="/assets/upvote.png" alt="upvote icon">
                    <% end %>
                <% end %>

            <% end %>
        </div>
    <% end %>
</div>
