<h2>Top 5 Novels</h2>
<br>
<div class="row d-flex justify-content-evenly">
    <div class="col-1"></div>
    <% @novels.each do |novel| %>
        <div class="col-2">
            <% if novel.cover.present? %>
                <%= link_to novel do %>
                    <img class="card-img-top" src="<%= novel.cover %>" alt="A picture of the novels cover.">
                <% end%>
            <% else %>
                <%= link_to novel do %>
                    <img class="card-img-top" src="http://www.fillmurray.com/200/300" alt="A picture of the novels cover.">
                <% end%>
            <% end %>
            <div class="<%= @fonts.sample %>">
                <% if novel.title.present? %>
                    <h5><%= link_to novel.title, novel %></h5>
                <% else %>
                    <h5 style="font-family: 'Roboto Mono', monospace"><%= link_to 'untitled novel', novel %></h5>
                <% end %>
                <% if novel.blurb.present? %>
                    <p><%= novel.blurb %></p>
                <% else %>
                    <p style="font-family: 'Roboto Mono', monospace">This novel doesn't have a blurb yet.</p>
                <% end %>
            </div>
            <span>upvotes: </span>
            <%= novel.pseudousers.count %>
            <% if @current_user.present? %>
                <form action="<%= upvote_path(@current_user.pseudouser.id) %>" method="post">
                    <input type="hidden" name="upvote" value="<%= novel.id %>">
                        <button class="upvote">
                            <img style="width:1em;<% if novel.pseudousers.exists?(id: @current_user.pseudouser.id) %>transform:scaleY(-1)<% end %>" src="/assets/upvote.png" alt="upvote icon">
                        </button>
                </form>
            <% end %>
        </div>
    <% end %>
    <div class="col-1"></div>
</div>
