<h2>Top 5 Novels</h2>
<div class="row d-flex justify-content-evenly">
    <div class="col-1"></div>
    <% @novels.each do |novel| %>
        <div class="col-2">
            <% if novel.cover.present? %>
                <%= link_to novel do %>
                    <img class="card-img-top" src="<%= novel.cover %>" alt="A picture of the novels cover.">
                <% end%>
            <% else %>
                <%= link_to novel do %>
                    <img class="card-img-top" src="http://www.fillmurray.com/200/300" alt="A picture of the novels cover.">
                <% end%>
            <% end %>
            <% if novel.title.present? %>
                <h5><%= link_to novel.title, novel %></h5>
            <% else %>
                <h5><%= link_to 'untitled novel', novel %></h5>
            <% end %>
            <% if novel.blurb.present? %>
                <p><%= novel.blurb %></p>
            <% else %>
                <p>This novel doesn't have a blurb yet.</p>
            <% end %>

            <%= form_for novel do |f| %>
                <%= f.hidden_field :upvotes, value: 1 %>
                <%= button_tag do %>
                    <img style="width:1em" src="/assets/upvote.png" alt="upvote icon">
                <% end %>
            <% end %>
        </div>
    <% end %>
    <div class="col-1"></div>
</div>