<div class="<%= @font %>" >
    <% if @novel.title.present? %>
        <h2><%= @novel.title %></h2>
    <% else %>
        <h2 class="roboto">untitled novel</h2>
    <% end %>
    <div class="cover-show">
        <% if @novel.cover.present? %>
            <img src="<%= @novel.cover %>" alt="A picture of the novels cover.">
        <% else %>
            <img src="http://www.fillmurray.com/200/300" alt="A picture of the novels cover.">
        <% end %>
    </div>
    <hr>
    <span class="roboto">Blurb: </span>
    <% if @novel.blurb.present? %>
        <%= @novel.blurb %>
    <% else %>
        <span class="roboto">No blurb has been written yet...</span>
    <% end %>

    <hr>

    <div class='text-start'>
        <% @novel.content.split("\n").each do |paragraph| %>
            <p><%= paragraph %></p>
        <% end %>
    </div>
</div>
<br>
<h4>Authors:</h4>
<ul class="list-group authors">
<% @novel.excerpts.map{ |excerpt| excerpt.user }.uniq.each do |author| %>
    <li class="list-group-item">
        <%= author.name %>
    </li>
<% end %>
</ul>
<br>
<% if @novel.user == @current_user %>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <%= link_to 'Edit Novel', edit_novel_path(@novel), :class => 'btn btn-primary btn-edit-top' %>
                <%= form_for novel_path(@novel), method: :delete do |f| %>
                    <%= f.hidden_field :id, :value => @novel.id %>
                    <%= f.submit 'Delete Novel', :class => 'btn btn-secondary btn-sm' %>
                <% end %>
            </li>
        </ul>
<% end %>